<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %cyan(%logger{36}) %X{id} - %msg%n</Pattern>
        </encoder>
    </appender>


    <logger name="com.hazelcast" level="INFO"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.springframework" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>